SecuLobbyVMS/SecuLobbyVMS/Web References/smartWS/SmartISS_Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="SmartISS_Service" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="SmartISS_Service" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="SmartISS_Service">
      <s:element name="GetData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ProcName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDataResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTAData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ProcName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FromDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ToDate" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTADataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTADataResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetInterfaceDS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="procedure" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Operation" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="list" type="tns:ArrayOfSqlDbParam" />
            <s:element minOccurs="0" maxOccurs="1" name="ds">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfSqlDbParam">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="SqlDbParam" nillable="true" type="tns:SqlDbParam" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SqlDbParam">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Value" />
          <s:element minOccurs="1" maxOccurs="1" name="ParamType" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Size" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Direction" type="tns:ParameterDirection" />
          <s:element minOccurs="0" maxOccurs="1" name="TableTypeName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TableName" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="ParameterDirection">
        <s:restriction base="s:string">
          <s:enumeration value="Input" />
          <s:enumeration value="Output" />
          <s:enumeration value="InputOutput" />
          <s:enumeration value="ReturnValue" />
        </s:restriction>
      </s:simpleType>
      <s:element name="SetInterfaceDSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SetInterfaceDSResult" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="errcode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TestConnectivity">
        <s:complexType />
      </s:element>
      <s:element name="TestConnectivityResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="TestConnectivityResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetDataInterface">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="procedure" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Operation" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="list" type="tns:ArrayOfSqlDbParam" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetDataInterfaceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SetDataInterfaceResult" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="errcode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetEmailInterface">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="procedure" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Operation" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="list" type="tns:ArrayOfSqlDbParam" />
            <s:element minOccurs="1" maxOccurs="1" name="saveLogs" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="bytes" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="visPhone" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fromEmail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="visEmail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dts" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="vmsg" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PersonName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Duration" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="txtParking" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="HostName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Location" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="blapprove" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="Links" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EmailID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EmailPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EmailMask" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EmailSubject" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EmailPort" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EmailSMTP" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EmailEnableSsl" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetEmailInterfaceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SetEmailInterfaceResult" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="errcode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Authenticate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Key" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthenticateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AuthenticateResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetToken">
        <s:complexType />
      </s:element>
      <s:element name="GetTokenResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTokenResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UseService">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Key" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ServiceName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UseServiceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UseServiceResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="GetDataSoapOut">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="GetTADataSoapIn">
    <wsdl:part name="parameters" element="tns:GetTAData" />
  </wsdl:message>
  <wsdl:message name="GetTADataSoapOut">
    <wsdl:part name="parameters" element="tns:GetTADataResponse" />
  </wsdl:message>
  <wsdl:message name="SetInterfaceDSSoapIn">
    <wsdl:part name="parameters" element="tns:SetInterfaceDS" />
  </wsdl:message>
  <wsdl:message name="SetInterfaceDSSoapOut">
    <wsdl:part name="parameters" element="tns:SetInterfaceDSResponse" />
  </wsdl:message>
  <wsdl:message name="TestConnectivitySoapIn">
    <wsdl:part name="parameters" element="tns:TestConnectivity" />
  </wsdl:message>
  <wsdl:message name="TestConnectivitySoapOut">
    <wsdl:part name="parameters" element="tns:TestConnectivityResponse" />
  </wsdl:message>
  <wsdl:message name="SetDataInterfaceSoapIn">
    <wsdl:part name="parameters" element="tns:SetDataInterface" />
  </wsdl:message>
  <wsdl:message name="SetDataInterfaceSoapOut">
    <wsdl:part name="parameters" element="tns:SetDataInterfaceResponse" />
  </wsdl:message>
  <wsdl:message name="SetEmailInterfaceSoapIn">
    <wsdl:part name="parameters" element="tns:SetEmailInterface" />
  </wsdl:message>
  <wsdl:message name="SetEmailInterfaceSoapOut">
    <wsdl:part name="parameters" element="tns:SetEmailInterfaceResponse" />
  </wsdl:message>
  <wsdl:message name="AuthenticateSoapIn">
    <wsdl:part name="parameters" element="tns:Authenticate" />
  </wsdl:message>
  <wsdl:message name="AuthenticateSoapOut">
    <wsdl:part name="parameters" element="tns:AuthenticateResponse" />
  </wsdl:message>
  <wsdl:message name="GetTokenSoapIn">
    <wsdl:part name="parameters" element="tns:GetToken" />
  </wsdl:message>
  <wsdl:message name="GetTokenSoapOut">
    <wsdl:part name="parameters" element="tns:GetTokenResponse" />
  </wsdl:message>
  <wsdl:message name="UseServiceSoapIn">
    <wsdl:part name="parameters" element="tns:UseService" />
  </wsdl:message>
  <wsdl:message name="UseServiceSoapOut">
    <wsdl:part name="parameters" element="tns:UseServiceResponse" />
  </wsdl:message>
  <wsdl:portType name="SmartISS_ServiceSoap">
    <wsdl:operation name="GetData">
      <wsdl:input message="tns:GetDataSoapIn" />
      <wsdl:output message="tns:GetDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTAData">
      <wsdl:input message="tns:GetTADataSoapIn" />
      <wsdl:output message="tns:GetTADataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetInterfaceDS">
      <wsdl:input message="tns:SetInterfaceDSSoapIn" />
      <wsdl:output message="tns:SetInterfaceDSSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TestConnectivity">
      <wsdl:input message="tns:TestConnectivitySoapIn" />
      <wsdl:output message="tns:TestConnectivitySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetDataInterface">
      <wsdl:input message="tns:SetDataInterfaceSoapIn" />
      <wsdl:output message="tns:SetDataInterfaceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetEmailInterface">
      <wsdl:input message="tns:SetEmailInterfaceSoapIn" />
      <wsdl:output message="tns:SetEmailInterfaceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Authenticate">
      <wsdl:input message="tns:AuthenticateSoapIn" />
      <wsdl:output message="tns:AuthenticateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetToken">
      <wsdl:input message="tns:GetTokenSoapIn" />
      <wsdl:output message="tns:GetTokenSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UseService">
      <wsdl:input message="tns:UseServiceSoapIn" />
      <wsdl:output message="tns:UseServiceSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SmartISS_ServiceSoap" type="tns:SmartISS_ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="SmartISS_Service/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTAData">
      <soap:operation soapAction="SmartISS_Service/GetTAData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetInterfaceDS">
      <soap:operation soapAction="SmartISS_Service/SetInterfaceDS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestConnectivity">
      <soap:operation soapAction="SmartISS_Service/TestConnectivity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetDataInterface">
      <soap:operation soapAction="SmartISS_Service/SetDataInterface" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetEmailInterface">
      <soap:operation soapAction="SmartISS_Service/SetEmailInterface" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Authenticate">
      <soap:operation soapAction="SmartISS_Service/Authenticate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetToken">
      <soap:operation soapAction="SmartISS_Service/GetToken" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UseService">
      <soap:operation soapAction="SmartISS_Service/UseService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SmartISS_ServiceSoap12" type="tns:SmartISS_ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap12:operation soapAction="SmartISS_Service/GetData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTAData">
      <soap12:operation soapAction="SmartISS_Service/GetTAData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetInterfaceDS">
      <soap12:operation soapAction="SmartISS_Service/SetInterfaceDS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestConnectivity">
      <soap12:operation soapAction="SmartISS_Service/TestConnectivity" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetDataInterface">
      <soap12:operation soapAction="SmartISS_Service/SetDataInterface" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetEmailInterface">
      <soap12:operation soapAction="SmartISS_Service/SetEmailInterface" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Authenticate">
      <soap12:operation soapAction="SmartISS_Service/Authenticate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetToken">
      <soap12:operation soapAction="SmartISS_Service/GetToken" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UseService">
      <soap12:operation soapAction="SmartISS_Service/UseService" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SmartISS_Service">
    <wsdl:port name="SmartISS_ServiceSoap" binding="tns:SmartISS_ServiceSoap">
      <soap:address location="http://185.241.124.28:91/SmartISS_Service.asmx" />
    </wsdl:port>
    <wsdl:port name="SmartISS_ServiceSoap12" binding="tns:SmartISS_ServiceSoap12">
      <soap12:address location="http://185.241.124.28:91/SmartISS_Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>